.red {
    color: red;
}

.blue {
    color: #75C4FF;
}

.yell {
    color: #D9B977;
}

.green {
    color: #91ED8B;
}

.angar-header {
    min-height: 800px !important;
}

#h-mmenu a {
    padding: 5px 0 !important;
}
ul#h-mmenu {
    position: relative;
    z-index: 999;
}
.navMiddle {
    li {
        a {
            &:after {
                margin-left: 50px;
            }
        }
        &:nth-child(5) {
            a:after {
                display: none;
            }
        }
    }
}

.main-body {
    #our-clients {
        padding-top: 0;
    }
    #gallery {
        z-index: 99;
    }
    #delivery {
        z-index: 100;
    }
}

.head-image {
    top: 414px;
    width: 1750px;
    margin-left: -13rem;
    height: 1900px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: right -7rem;
}

#angary_character {
    .h1 {
        text-transform: uppercase;
        margin: 3rem 0;
    }
    .comparison {
        .card {
            // p {
            //     display: none;
            // }
            .card-image {
                top: 30px;
            }
            .card-body {
                margin: -2px -15px;
                min-height: 373px;
                background-position: center -1px;
            }
            .list-group {
                li {
                    &:last-child {
                        height: auto;
                    }
                }
            }
            &:not(:first-child) {
                .card-footer {
                    background-color: #E9F0F6;
                }
                .card-body {
                    &:after {
                        content: "";
                        display: block;
                        width: 66%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 50px;
                        border-top: dashed 2px #DFDFDF;
                    }
                }
            }
        }
        .card-image {
            height: 170px;
        }
    }
}

#delivery {
    &.angar-building {
        padding-top: 190px;
        background-position: center 461px;
    }
}

#angary_tent_character {
    .angary_tent_comparison {
        .col-md:nth-child(1) {
            background-position: -4.66rem;
        }
        .card {
            .card-image {
                position: absolute;
                width: 466px;
                margin: 2.6rem -3rem;
                display: block;
                z-index: 99;
            }
            .card-footer {
                .price {
                    line-height: 1.3;
                    padding-left: 5.45rem;
                    font-weight: 800;
                }
            }
        }
    }
}

.angar-body {
    .comparison .card .card-title {
        text-align: center;
        font-size: 18px;
        color: #1c4da2;
        font-weight: 700;
        text-transform: uppercase;
    }
    .comparison .card p {
        display: none;
    }
}

#d_visual {
    .section-title {
        max-width: 348px;
        text-transform: uppercase;
    }
    .h3 {
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            background: url("/local/dist/images/big_arrow.png") no-repeat 50% 50%/contain;
            width: 260px;
            height: 88px;
            top: 225px;
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            transform: scale(-1, 1);
        }
    }
}

.j-sliderReviews .review-body,
#reviews .j-fancy {
    margin: 30px 25px;
    box-shadow: 0px 20px 20px -10px rgba(131, 130, 130, 0.33);
}

.j-sliderReviews .review-body {
    position: relative;
    min-height: 425px !important;
}

.j-sliderReviews .cli_name {
    position: relative;
    color: #044587;
    font-size: 20px;
    font-weight: 700;
    left: 30px;
}

.j-sliderReviews .slick-next,
.j-sliderReviews .slick-next:hover,
.j-sliderReviews .slick-next:focus {
    right: 15px;
}

#reviews {
    padding-top: 10.66rem !important;
}

#about .container {
    position: relative;
    // top: -18rem !important;
    // margin-bottom: -19rem !important;
    z-index: 10;
}

.angar-body,
.angar-sandvichi-body,
.angar-tent-body {
    .head-image {
        top: 189px;
    }
    #map {
        padding-top: 0 !important;
    }
    #about .container {
        position: relative;
        top: -18rem !important;
        margin-bottom: -19rem !important;
        z-index: 10;
    }
}

.angar-tent-body {
    .head-image {
        top: 250px;
    }
}



.angar-body .head-image, .angar-sandvichi-body .head-image, .angar-tent-body .head-image {
    top: 233px;
}

#angarItemsSlider {
 .slick-prev, .slick-next {

    display: none;

 }


}


.angar-sandvichi-body, .angar-tent-body {
    .site-header {
     
        min-height: 898px;
    }

    #slider_wrap {
        position: absolute;
        left: -599px;
        top: -19rem;
        max-width: 1200px;
        background-size: 1900px;
        &::before {

            display: none;

        }
        img{

            max-width: 1900px;
            height: auto;
        }

        
    }

}
//add
.angar-body, .angar-sandvichi-body, .angar-tent-body {
    //bad fix gradient
    #d_visual{
        &:after {
            height: 100px;
            bottom: 0%;
            background: linear-gradient(180deg, rgba(225,239,248,1) 10%, rgba(232,243,249,1) 100%);
            height: 13%;
            position: absolute;
            top: unset;
        }

        & .fly-image-wrap{
            width: 790px;
        }

        & .fly-wrap{
            transform: scale(.6);
            left: -172px;
            top: 0px;
        }
    }

    #angarItemsSlider .slick-prev, 
    #angarItemsSlider .slick-next {
        display: none!important;
    }
    #slide_items_angary .item-pic {
        margin-top: 1.33rem; 
    }
}

@import 'media-angar';
@import 'media-angar-sandvichi';
@import 'media-angar-tent';
