@import 'conf.scss';
@import 'style.scss';
@import 'blocks/superstar.scss';
@import 'blocks/catalog.scss';
@import 'blocks/delivery.scss';
@import 'blocks/gallery.scss';
@import 'blocks/excursions.scss';
@import 'blocks/about.scss';
@import 'blocks/our-clients.scss';
@import 'blocks/reviews.scss';
@import 'blocks/cost.scss';
@import 'blocks/map.scss';
@import 'blocks/vagon_kp.scss';
@import 'blocks/moduli_kp.scss';
@import 'blocks/vacht_plans.scss';
@import 'blocks/moduli_character.scss';
@import 'blocks/moduli_full-cycle.scss';
@import 'blocks/vacht_top_catalog.scss';
.site-header {
    background: url($dist_path+'images/vacht_bg_5.png'), url($dist_path+'images/vacht_bg_1.png');
    min-height: auto;
    background-position: center 3.66rem, center -6rem;
    background-size: 1800px, 1900px;
    .form-wrap {
        margin-top: 0
    }
}

#catalog {
    .title {
        font-size: 18px;
    }
    .good {
        min-height: 360px;
        background-position: center -10rem;
        background-size: cover;
        padding-top: 3rem;
    }
    .btn {
        width: 180px;
    }
}

#full-cycle {
    .dash-wrap {
        padding: 2px;
        border: 1px dashed #d3d5d5;
        border-radius: 100%;
        max-width: 82px;
        max-height: 82px;
        margin: 0 auto;
    }
    .step {
        margin-bottom: 6.66rem;
        p {
            max-width: 100%;
            position: inherit;
            top: 35px;
            left: 0;
            margin: 0 auto;
        }
        .num {
            text-align: right;
            max-width: 70%;
        }
    }
}

.cost {
    padding-bottom: 20.6rem;
    margin-bottom: -12rem;
}

section.text-block {
    position: relative;
    z-index: 98;
    margin-bottom: 6.66rem;
    @include respond-to(xs) {
        margin-bottom: 1.66rem;
    }
}

#excursions {
    &:after {
        background-repeat: no-repeat;
        background-position: 44% 580px;
        height: 1050px;
    }
}

// @include respond-to(xs) {
#vagon_kp {
    &.moduli_kp {
        top: -9.6rem;
        margin-bottom: -26rem;
    }
}

@include respond-to(xs) {
    #gallery .bg-wrap {
        background: #D5E2EA;
    }
    #about {
        padding-top: 0;
    }
    #excursions {
        top: 0;
        padding-bottom: 300px;
        .section-title .c_orange {
            text-align: center;
        }
        .align-items-center {
            text-align: center;
        }
        .container {
            top: 1.66rem;
        }
    }
    #map {
        padding-top: 2.66rem;
    }
    #gallery {
        top: 6.66rem;
        .container {
            padding-bottom: 1.66rem
        }
    }
}

@include respond-to(md) {
    // .site-header {
    //     min-height: auto;
    //     background-size: 1400px;
    //     background-position: center 0;
    // }
    // .advantages {
    //     img {
    //         top: 0;
    //     }
    // }
    // #superstar {
    //     min-height: 760px;
    //     background-position: -12rem -14rem;
    // }
    // #vagon_kp {
    //     .section-title {
    //         left: 0;
    //     }
    //     .form-wrap {
    //         top: -30rem;
    //         left: 10%;
    //     }
    //     .container {
    //         &:after {
    //             display: none;
    //         }
    //     }
    //     .title-img {
    //         top: 14rem;
    //         left: 42%;
    //     }
    // }
    // #moduli_cost {
    //     .form-wrap {
    //         top: 0;
    //         left: 10%;
    //     }
    //     .doc-img {
    //         position: absolute;
    //         top: 7rem;
    //         left: 42%;
    //     }
    //     &.cost {
    //         padding-top: 6rem;
    //     }
    // }
    // #slide_items {
    //     background: none;
    // }
    // #moduli_plans {
    //     .card .slick-slide img {
    //         max-width: 100%;
    //     }
    //     .card .card-body {
    //         max-width: 235px;
    //     }
    // }
    // #gallery {
    //     .gallery {
    //         a {
    //             display: block;
    //             width: 220px;
    //         }
    //     }
    // }
    // #our-clients {
    //     padding-top: 6rem;
    // }
    // #itemsSlider .slick-prev {
    //     left: 91%;
    // }
    // #full-cycle {
    //     .step {
    //         &:nth-child(5),
    //         &:nth-child(6) {
    //             margin: 0 auto;
    //         }
    //     }
    // }
}


#about {

    .container {
        position: relative;
        top: -17rem;
        margin-bottom: -18rem;
        z-index: 10;
    }

}

#map {
    padding-top: 12.66rem;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
}