<div class="form-wrap">
    <form action="" method="post">
        <p class="form_title tac mt-1">
            <%=form_title%>
        </p>
        <p class="desc mb-3">
            <%=desc%>
        </p>
        <div class="has-float-label">
            <input id="tel" type="tel" class="form-control mb-3" placeholder="+7 999 999 99 99" />
            <label for="tel">Телефон</label>
        </div>
        <input type="submit" class="btn mb-3 btn-orange col-12" value="Узнать стоимость">
      
        <div class="custom-control custom-checkbox mt-lg-3">
            <input type="checkbox" name="policy" class="custom-control-input" id="customControlAutosizing">
            <label class="custom-control-label" for="customControlAutosizing">
                <b>Согласен с обработкой</b> <br> <a href="">персональных данных</a>
            </label>
        </div>
    </form>
</div>