@import '../conf.scss';
#vacht_plans {
 
        position: relative;
        margin-top: 1.66rem;
        z-index: 99;

    .h1 {
        text-transform: uppercase;
    }
    .j-plain-slider {
        max-height: auto;
        overflow: hidden;
    }
    .card {
        border: none;
        margin-bottom: 3.66rem;
        height: 32rem;
        background: none;
        .card-footer {
            background: none;
            padding: 0;
            border: none;
        }
        .card-body {
            border-radius: 5px;
            background: none;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        .card-image {
            max-width: 100%
        }
        .card-title {
            font-weight: 600;
            font-size: 18px;
            height: 81px;
            overflow: hidden;
        }
        .price {
            font-weight: 600;
            font-size: 22px
        }
        .btn {
            width: 100%;
            text-transform: uppercase;
        }
        .slick-slide {
            text-align: center;
            padding-top: 2.33rem;
            img {
                max-width: 100%;
                max-height: 200px;
                margin: 0 auto;
                display: block;
            }
        }
    }
    .slick-prev,
    .slick-next {
        top: 15px;
        &:before {
            font-size: 0;
        }
    }
    .slick-prev {
        left: 0;
        z-index: 99;
    }
    .slick-prev {
        content: "";
        display: inline-block;
        width: 18px;
        height: 20px;
        background-image: url($dist_path+"images/png/arrow_l.png");
        background-repeat: no-repeat;
        left: 80%;
    }
    .slick-next {
        content: "";
        display: inline-block;
        width: 18px;
        height: 20px;
        background-image: url($dist_path+"images/png/arrow_r.png");
        background-repeat: no-repeat;
        right: 0;
    }
    @include respond-to(xs) {
        margin-top: 0;
        // .h1 {
        //     // font-size: inherit;
        // }
        .card {
            margin-bottom: 0.66rem;
            .card-title {
                font-size: inherit;
            }
        }
    }
}