<div class="head-text mt-5">
    <div class="row">
        <div class="col-12">
            <p class="bold">Проектирвоание и строительство</p>
            <div class="h1">Вахтовых поселков</div>
            <p class="bold">от производителя</p>
            <span class="shine">&nbsp;</span>
        </div>
        <div class="col-lg-8 order-2 order-lg-1">
            @@include('partials/form.html', {
            form_title:'Узнайте стоимость вагон-дома за 5 минут по телефону',
            desc:'Закажите обратный звонок',
            })
        </div>
        
    </div>
</div>